{% extends 'base.html.twig' %}

{% block title 'Change Password' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Change password</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Save changes</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
